<!DOCTYPE html>
<html lang="es">
<head>
  <title>Mis Perris</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/menu.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/estilo.css">
</head>
<body>
  <header>
    <center>
    <h2> <img id= "imgLogo" src="img/img-logo.jpg" alt="logo mis perris"/> Bienvenido a Fundación Mis Perris </h2>
    </center>
      <nav>
        <ul id="menu">
             <li><a href="index.html" tabindex="1">Inicio</a></li>
             <li><a href="galeria.html" tabindex="2">Galeria</a></li>
             <li><a href="ingreso.html" tabindex="3">Contacto</a></li>
             <li><a href="nosotros.html" tabindex="4">Todo sobre nosotros</a></li>
        </ul>
      </nav>
  </header>
   <main>
    </main>
    <article id="info">
        <div id="some">
            <h2 id="re" >Nuestra misión</h2>
            <p id="resca" >Contribuir a mejorar las condiciones de vida de todos los animales , velar por el respeto de los animales y la aplicación de sus derechos,
                    educar, formar e informar a la población sobre la tenencia responsable de un animal, hacer el seguimiento de los animales adoptados y colaborar con otras asociaciones con ideas a fines de lucro.</p>
            <img id="adopcion1" src="img/imgmision.jpg" alt="Familia adoptando a Almendra">
        
            <h2 id="res" >Nuestro cuidado hacia los perritos</h2>
            <p id="resc" >Auxiliar, rescatar y acoger a los animales que tengan necesidades de atención veterinaria o cuya integridad física corra peligro, satisfacer las necesidades veterinarias de los animales que
                         tenemos bajo nuestra protección y tutela, asi como también buscar los adoptantes adecuados para cada tipo de animal y velar para que cumplan las cláusulas establecidas en el contrato de 
                         adopción de la asociación, fomentar la adopción y concienciar a la población sobre la obligatoriedad de la identificación y los beneficios de la esterilización.</p>
            <img id="adopcion2" src="img/imgcuidado.jpg" alt="Familia Fuentes con Cachupin"> 
        </div>
    </article>
    <footer>
            <div> 
                Teléfono Contacto:
                <!-- Hipervínculo con llamada -->
                <a href="tel:+56950192842">
                +56 9 5 019 28 42
                </a>
                     
                Facebook:
                <a href="Mis Perris Oficial">
                MIS PERRIS OFICIAL
                </a>
        
                Instagram:
                <!-- Hipervínculo con llamada -->
                <a href="Mis Perris Oficial">
                MIS PERRIS OFICIAL
                </a>
                            
                Mail: 
                <a href="MAIL: misperris@perris.cl">
                misperris@perris.cl
                </a>
            </div>
    </footer>
</body>
</html>